<%= form_for(@obligation_rule) do |f| %>
  <% if @obligation_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@obligation_rule.errors.count, "error") %> prohibited this obligation_rule from being saved:</h2>

      <ul>
      <% @obligation_rule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :repeat %><br />
    <%= f.check_box :repeat %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :agreement_id %><br />
    <%= f.number_field :agreement_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
