<h1>Listing obligation_rules</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Repeat</th>
    <th>Type</th>
    <th>Agreement</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @obligation_rules.each do |obligation_rule| %>
  <tr>
    <td><%= obligation_rule.name %></td>
    <td><%= obligation_rule.description %></td>
    <td><%= obligation_rule.repeat %></td>
    <td><%= obligation_rule.type %></td>
    <td><%= obligation_rule.agreement_id %></td>
    <td><%= link_to 'Show', obligation_rule %></td>
    <td><%= link_to 'Edit', edit_obligation_rule_path(obligation_rule) %></td>
    <td><%= link_to 'Destroy', obligation_rule, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Obligation rule', new_obligation_rule_path %>
