<h1>Listing obligations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Due date</th>
    <th>Met</th>
    <th>Date met</th>
    <th>Monetary</th>
    <th>Amount</th>
    <th>Invoice number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @obligations.each do |obligation| %>
  <tr>
    <td><%= obligation.name %></td>
    <td><%= obligation.description %></td>
    <td><%= obligation.due_date %></td>
    <td><%= obligation.met %></td>
    <td><%= obligation.date_met %></td>
    <td><%= obligation.monetary %></td>
    <td><%= obligation.amount %></td>
    <td><%= obligation.invoice_number %></td>
    <td><%= link_to 'Show', obligation %></td>
    <td><%= link_to 'Edit', edit_obligation_path(obligation) %></td>
    <td><%= link_to 'Destroy', obligation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Obligation', new_obligation_path %>
