<%= form_for(@reoccuring_obligation) do |f| %>
  <% if @reoccuring_obligation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reoccuring_obligation.errors.count, "error") %> prohibited this reoccuring_obligation from being saved:</h2>

      <ul>
      <% @reoccuring_obligation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :obligation_rule_id %><br />
    <%= f.number_field :obligation_rule_id %>
  </div>
  <div class="field">
    <%= f.label :frequency %><br />
    <%= f.number_field :frequency %>
  </div>
  <div class="field">
    <%= f.label :frequency_period %><br />
    <%= f.text_field :frequency_period %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :duration_period %><br />
    <%= f.text_field :duration_period %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :is_dependent %><br />
    <%= f.check_box :is_dependent %>
  </div>
  <div class="field">
    <%= f.label :monetary %><br />
    <%= f.check_box :monetary %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
